body {
  position: relative;
  background-color: var(--primary);
  padding-bottom: 90px;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
}

@font-face {
  font-family: "Edo SZ";
  src: url(../fonts/edosz.ttf) format("truetype");
}

hr {
  border: 1px solid;
  border-color: #818191;
  width: 100%;
}

.cupom-box {
  background-color: #1d232a;
  width: calc(100% - 1.2rem);
  border-radius: 15px;
}

.relative-position {
  position: relative;
}

.fixed-position {
  position: fixed;
}

.att {
  display: block;
}

.cupom-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  margin-top: 0.6rem;
  text-align: center;
}

.cupom-title {
  display: flex;
  color: #828282;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
}

.cupom-title p {
  margin: 0rem 0rem 0rem 0.3rem;
}

.header-content {
  position: absolute;
  background-color: var(--primary);
  height: 100vh;
  width: 98px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  position: fixed;
}

.vertical-line {
  position: fixed;
  background-color: #333333;
  width: 1px;
  height: 100vh;
  z-index: 9999;
  margin-left: 98px;
}

.header-logo {
  padding-top: 30px;
  padding-bottom: 50px;
}

.container-fluid {
  padding: 0px 150px;
}

.block {
  opacity: 1;
  bottom: 0;
  background: linear-gradient(
    93.19deg,
    #282935 11.79%,
    #6a6b79 51.1%,
    #282935 102.57%
  );
  height: 292px;
  border-radius: 38px;
  margin-top: 30px;
  background-position: center center;
  position: relative;
  background-clip: content-box;
  transition: ease-in-out 0.3s;
}

.block:hover {
  background: #f7f7f7;
  background-clip: content-box;
}

.home-block {
  opacity: 1;
  background: linear-gradient(
    93.19deg,
    #282935 11.79%,
    #6a6b79 51.1%,
    #282935 102.57%
  );
  height: 292px;
  border-radius: 38px;
  margin-top: 30px;
  background-position: center center;
  position: relative;
  background-clip: content-box;
  transition: ease-in-out 0.3s;
}

.home-block.inactive {
  opacity: 0;
  background: linear-gradient(
    93.19deg,
    #282935 11.79%,
    #6a6b79 51.1%,
    #282935 102.57%
  );
  height: 292px;
  border-radius: 38px;
  margin-top: 40px;
  background-position: center center;
  position: relative;
  background-clip: content-box;
  transition: ease-in-out 0.3s;
}

.block.inactive {
  opacity: 0;
  bottom: -40;
  background: linear-gradient(
    93.19deg,
    #282935 11.79%,
    #6a6b79 51.1%,
    #282935 102.57%
  );
  height: 292px;
  border-radius: 38px;
  margin-top: 30px;
  background-position: center center;
  position: relative;
  background-clip: content-box;
  transition: ease-in-out 0.3s;
}

.block-vert {
  bottom: 0;
  opacity: 1;
  background: linear-gradient(
    93.19deg,
    #282935 11.79%,
    #6a6b79 51.1%,
    #282935 102.57%
  );
  height: 423px;
  border-radius: 38px;
  margin-top: 30px;
  background-position: center center;
  position: relative;
  background-clip: content-box;
  transition: ease-in-out 1s;
}

.block-vert.inactive {
  bottom: -40;
  opacity: 0;
  transition: ease-in-out 1s;
  background: linear-gradient(
    93.19deg,
    #282935 11.79%,
    #6a6b79 51.1%,
    #282935 102.57%
  );
  height: 423px;
  border-radius: 38px;
  margin-top: 30px;
  background-position: center center;
  position: relative;
  background-clip: content-box;
}

.block-vert-streamers.inactive {
  bottom: -40;
  opacity: 0;
  transition: ease-in-out 1s;
  background: linear-gradient(
    93.19deg,
    #282935 11.79%,
    #6a6b79 51.1%,
    #282935 102.57%
  );
  height: 460px;
  border-radius: 38px;
  margin-top: 30px;
  background-position: center center;
  position: relative;
  background-clip: content-box;
}

.block-vert-streamers {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 1s;
  background: linear-gradient(
    93.19deg,
    #282935 11.79%,
    #6a6b79 51.1%,
    #282935 102.57%
  );
  height: 460px;
  border-radius: 38px;
  margin-top: 30px;
  background-position: center center;
  position: relative;
  background-clip: content-box;
}

.block-vert-partners.inactive {
  bottom: -40;
  opacity: 0;
  transition: ease-in-out 1s;
  background: linear-gradient(
    93.19deg,
    #282935 11.79%,
    #6a6b79 51.1%,
    #282935 102.57%
  );
  height: 540px;
  border-radius: 38px;
  margin-top: 30px;
  background-position: center center;
  position: relative;
  background-clip: content-box;
}

.block-vert-partners {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 1s;
  background: linear-gradient(
    93.19deg,
    #282935 11.79%,
    #6a6b79 51.1%,
    #282935 102.57%
  );
  height: 540px;
  border-radius: 38px;
  margin-top: 30px;
  background-position: center center;
  position: relative;
  background-clip: content-box;
}

.block-vert-titles {
  bottom: 0;
  opacity: 1;
  background: linear-gradient(
    93.19deg,
    #282935 11.79%,
    #6a6b79 51.1%,
    #282935 102.57%
  );
  height: 336px;
  border-radius: 38px;
  margin-top: 45px;
  background-position: center center;
  position: relative;
  background-clip: content-box;
  transition: ease-in-out 1s;
}

.block-vert-titles.inactive {
  bottom: -40;
  opacity: 0;
  background: linear-gradient(
    93.19deg,
    #282935 11.79%,
    #6a6b79 51.1%,
    #282935 102.57%
  );
  height: 336px;
  border-radius: 38px;
  margin-top: 45px;
  background-position: center center;
  position: relative;
  background-clip: content-box;
  transition: ease-in-out 1s;
}

.inside-block-vert {
  overflow: hidden;
  position: absolute;
  background-image: url(../images/block-vert.png);
  background-size: cover;
  width: calc(100% - 0.2rem);
  height: calc(100% - 0.2rem);
  border-radius: 38px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  background-clip: content-box;
}

.inside-block-vert-champ {
  position: absolute;
  background-image: url(../images/block-vert.png);
  background-size: cover;
  width: calc(100% - 0.2rem);
  height: calc(100% - 0.2rem);
  border-radius: 38px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  background-clip: content-box;
}

.inside-block-vert-streamers {
  position: absolute;
  background-image: url(../images/block-vert.png);
  background-size: cover;
  width: calc(100% - 0.2rem);
  height: calc(100% - 0.2rem);
  border-radius: 38px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  background-clip: content-box;
}

.block-content-vert {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding-right: calc(var(--bs-gutter-x) * 1);
  bottom: 0;
  padding-bottom: 30px;
  width: 100%;
}

.block-content-vert-champ {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  width: 100%;
}

.block-content-vert-streamers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  width: 100%;
}

.player-photo-vert {
  margin-top: 15px;
  height: 330px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.player-photo-vert img {
  max-height: 100%;
  max-width: 100%;
  filter: drop-shadow(20px 5px 3px rgba(0, 0, 0, 0.15));
  z-index: -9999;
}

.trophy-photo-vert {
  margin-top: -49px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.trophy-photo-vert img {
  max-height: 100%;
  max-width: 100%;
  filter: drop-shadow(20px 5px 3px rgba(0, 0, 0, 0.15));
  z-index: -9999;
}

.streamers-photo-vert {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 30px;
  width: calc(100% - 30px);
  height: 200px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  align-items: center;
}

.streamers-photo-vert img {
  width: 100%;
  height: fit-content;
  filter: drop-shadow(20px 5px 3px rgba(0, 0, 0, 0.15));
}

.partners-photo-vert {
  max-width: 13rem;
  margin-top: 15px;
  height: 130px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  align-items: center;
}

.partners-photo-vert img {
  width: 100%;
  filter: drop-shadow(20px 5px 3px rgba(0, 0, 0, 0.15));
}

.partner-desc p {
  color: white;
  padding: 0px 20px;
  font-family: "Montserrat";
  text-align: center;
}

.partner-desc span {
  font-weight: bold;
}

.text-vert {
  padding-bottom: 0px;
}

.text-vert h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  font-size: 28px;
}

.text-vert-champion {
  padding-bottom: 0px;
  margin-top: 15px;
}

.text-vert-champion h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  font-size: 28px;
}

.text-vert-streamers {
  padding-bottom: 0px;
  margin-top: 15px;
}

.text-vert-streamers h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
}

.player-name p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 50%;
  margin-top: 0px;
  text-transform: uppercase;
}

.camp-name p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 50%;
  margin-top: 0px;
  text-transform: uppercase;
}

.player-age p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 50%;
  margin-top: 0px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.camp-date p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 16px;
  letter-spacing: 50%;
  margin-top: 0px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.tag-vert {
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 100px;
  margin-bottom: 15px;
}

.tag-vert p {
  color: #fff;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1rem;
  margin-bottom: 0px;
}

.tag-game {
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 100px;
  margin-bottom: 15px;
}

.tag-game p {
  color: #fff;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.1rem;
  margin-bottom: 0px;
}

.stream-platform {
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 100px;
  margin-bottom: 30px;
}

.streamers-buttons {
  display: flex;
}

.stream-platform p {
  color: #fff;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.1rem;
  margin-bottom: 0px;
}

.block-filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(40, 41, 53, 0) 41.77%, #282935 63%);
  border-radius: 50px;
  background-clip: content-box;
  padding-right: calc(var(--bs-gutter-x) * 1);
}

.inside-block {
  position: absolute;
  background-image: url(../images/block.png);
  background-size: cover;
  width: calc(100% - 0.2rem);
  height: calc(100% - 0.2rem);
  border-radius: 38px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  background-clip: content-box;
}

.player-photo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  opacity: 1;
}

.player-photo img {
  max-height: 100%;
  max-width: 100%;
  filter: drop-shadow(20px 5px 3px rgba(0, 0, 0, 0.15));
  z-index: -9999;
}

.block-content {
  position: absolute;
  padding-left: 20px;
  bottom: 0;
  padding-bottom: 40px;
}

.text {
  padding-bottom: 2.5rem;
}

.text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
}

.text-games {
  padding-bottom: 0.5rem;
}

.text-games h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
}

.game-photo {
  width: 100%;
  height: 240px;
  border-radius: 38px;
}

.game-photo img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.page-photo {
  width: 100%;
  height: 100%;
  border-radius: 38px;
}

.page-photo img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
  opacity: 0.2;
  filter: grayscale(1);
  transition: all 0.2s;
}

.home-block:hover .page-photo img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
  opacity: 0.6;
  filter: grayscale(0);
  transition: all 0.2s;
}

.games-filter {
  position: absolute;
  background: linear-gradient(180deg, rgba(40, 41, 53, 0) 0%, #282935 53.12%);
  border-radius: 47px;
  width: 100%;
  height: 100%;
  padding-right: calc(var(--bs-gutter-x) * 1);
  background-clip: content-box;
}

.tag {
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 100px;
}

.tag p {
  color: #fff;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1rem;
}

.box-button {
  background-color: var(--blue);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  transition: ease-in-out 200ms;
}

.box-button.inactive {
  background-color: #bdbdbd;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  text-transform: capitalize;
  color: #828282;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  transition: ease-in-out 200ms;
}

.box-button.inactive:hover {
  background-color: #bdbdbd;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  text-transform: capitalize;
  color: #828282;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  transition: ease-in-out 200ms;
  box-shadow: none;
}

.partner-button {
  background-color: var(--blue);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  transition: ease-in-out 200ms;
  margin-top: 20px;
}

.button {
  background-color: var(--blue);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  transition: ease-in-out 200ms;
  margin-top: 45px;
  opacity: 1;
}

.button.inactive {
  background-color: var(--blue);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  transition: ease-in-out 200ms;
  margin-top: 45px;
  opacity: 0;
}

.button:hover {
  background-color: #57afff;
  box-shadow: 0px 4px 14px rgba(13, 130, 236, 0.8);
  transition: ease-in-out 200ms;
}

.box-button:hover {
  background-color: #57afff;
  box-shadow: 0px 4px 14px rgba(13, 130, 236, 0.8);
  transition: ease-in-out 200ms;
}

.partner-button:hover {
  background-color: #57afff;
  box-shadow: 0px 4px 14px rgba(13, 130, 236, 0.8);
  transition: ease-in-out 200ms;
}

.error-button {
  background-color: var(--blue);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  transition: ease-in-out 200ms;
}

.error-button-container {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}

.error-button:hover {
  background-color: #57afff;
  box-shadow: 0px 4px 14px rgba(13, 130, 236, 0.8);
  transition: ease-in-out 200ms;
}

.button-container {
  height: 40px;
  width: 40px;
  border: 1px solid #4f4f4f;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
}

.button-container-streamers {
  height: 50px;
  width: 50px;
  border: 1px solid #4f4f4f;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  margin: 0px 15px;
}

i {
  font-size: 22px;
  color: #727272;
  transition: ease-in-out 0.3s;
}

.item-name {
  font-family: "Montserrat", sans-serif;
  color: transparent;
  text-align: center;
  margin-top: 0.2rem;
  font-size: 13px;
  transition: ease-in-out 0.2s;
  margin-bottom: 5px;
}

.item-name-streamers {
  font-family: "Montserrat", sans-serif;
  color: transparent;
  text-align: center;
  margin-top: 0.2rem;
  font-size: 14px;
  transition: ease-in-out 0.2s;
  margin-bottom: 5px;
}

.header-button {
  text-align: -webkit-center;
}

.button-container:hover ~ .item-name {
  color: #fff;
}

.button-container:hover {
  background-color: var(--blue);
  border: none;
  box-shadow: 0px 4px 4px rgba(13, 130, 236, 0.31);
}

.button-container-streamers:hover i {
  color: #fff;
}

.button-container-streamers:hover ~ .item-name-streamers {
  color: #fff;
}

.button-container-streamers:hover {
  background-color: var(--blue);
  border: none;
  box-shadow: 0px 4px 4px rgba(13, 130, 236, 0.31);
}

.button-container:hover i {
  color: #fff;
}

.matilha {
  margin-top: 30px;
  background-image: url(../images/matilha-hover.png);
  width: 100%;
  background-size: cover;
  height: 166px;
  background-position: center center;
}

.lineup-title {
  margin-top: 45px;
}

.lineup-title h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: Edo SZ;
  text-align: center;
}

.lineup-title p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
}

.error-text h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: Edo SZ;
  text-align: center;
  font-size: 92px;
  margin-top: -70px;
}

.error-text p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
}

.intro {
  position: absolute;
  background-color: var(--primary);
  width: 100vw;
  height: 100%;
  z-index: 9999999999;
}

.intro-content {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.tooth {
  position: absolute;
  max-height: 124.59px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.werewolves {
  position: absolute;
  max-width: 455px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-banner {
  margin-top: 45px;
  height: 221px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  object-position: center center;
}

.about-banner-title {
  font-family: Edo SZ;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  z-index: 99;
  text-align: center;
}

.about-banner-title h1 {
  font-size: 60px;
}

.about-banner-character-1 {
  height: 221px;
  position: absolute;
  display: flex;
  justify-content: left;
  margin-left: 10rem;
  left: 0;
}

.about-banner-character-2 {
  height: 221px;
  position: absolute;
  display: flex;
  justify-content: left;
  margin-right: 10rem;
  right: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.intro.display-none {
  opacity: 0;
  z-index: -99999999999999999999999 !important;
  position: absolute;
  background-color: var(--primary);
  width: 100vw;
  height: 100%;
  z-index: 9999999999;
  transition: ease-in-out 2s;
}

.intro.ready {
  opacity: 0;
  z-index: -99999999999999999999999 !important;
  position: absolute;
  background-color: var(--primary);
  width: 100vw;
  height: 100%;
  z-index: 9999999999;
}

.tooth.display-none {
  display: none;
  z-index: -9999;
  position: absolute;
  max-height: 124.59px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
}

.werewolves.display-none {
  display: none;
  z-index: -999999999;
  position: absolute;
  max-width: 455px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-wolf {
  position: absolute;
  max-width: 450px;
  right: 0;
  bottom: -210px;
  z-index: -1;
}

.bg-wolf img {
  width: 100%;
}

.back-button {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
}

.back-button i {
  color: #fff;
  display: flex;
  align-items: center;
}

.back-button:hover i {
  color: var(--orange);
  display: flex;
  align-items: center;
}

.back-button p {
  padding-left: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.menu-mobile {
  width: 100vw;
  height: 90px;
  background-color: #181e25;
  display: none;
  justify-content: space-between;
}

.hamburguer-button {
  display: flex;
  align-items: center;
}

.button-group {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-group-mobile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-group-mobile-content {
  display: flex;
  flex-wrap: wrap;
}

.header-logo-mobile {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.error-image {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.error-image img {
  width: 40%;
}

.menu-container {
  visibility: hidden;
  opacity: 0;
  z-index: -999999;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: var(--primary);
  z-index: 1;
  transition: all 0.6s;
}

.menu-container.active {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: var(--primary);
  z-index: 1;
  transition: all 0.6s;
}

.ab-first-content {
  margin-top: 60px;
  padding-left: 45px;
}

.ab-first-image {
  height: 560px;
  margin-top: 60px;
}

.ab-first-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: cover cover;
  border-radius: 30px;
}

.ab-first-title {
  color: #ffffff;
  font-family: Edo SZ;
  text-transform: uppercase;
}

.ab-first-title h1 {
  font-size: 72px;
  line-height: 4rem;
}

.ab-first-title span {
  background-image: url(/assets/images/title-bg.svg);
  background-position: center center;
  background-size: 100%;
}

.ab-first-text {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  line-height: 2.1rem;
  margin-top: 30px;
}

.ab-first-text br {
  margin: 0px;
}

.ab-first-text span {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  line-height: 1rem;
  font-weight: 700;
}

.director-sessions {
  margin-top: 60px;
  background-color: #232a32;
  width: 100%;
  height: 1000px;
  color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
}

.directors {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.director-title h1 {
  color: #ffffff;
  font-family: Edo SZ;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.director-title h1 spam {
  color: #ffffff;
  font-family: Edo SZ;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  background-image: url(/assets/images/title-bg.svg);
  background-position: center center;
  background-size: 100%;
}

.director-text {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  line-height: 2.1rem;
  margin-top: 30px;
}

.director-text spam {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  line-height: 1rem;
  font-weight: 700;
}

a {
  cursor: pointer;
}

@media screen and (max-width: 1230px) {
  .container-fluid {
    padding: 0px 120px;
  }
  .error-image img {
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .header-content {
    display: none;
  }
  .vertical-line {
    display: none;
  }

  .container-fluid {
    padding: 0px 30px;
  }

  .matilha {
    height: 110px;
  }

  .menu-mobile {
    display: flex;
    align-items: center;
  }

  .button-container {
    height: 60px;
    width: 60px;
    border: 1px solid #4f4f4f;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
  }

  i {
    font-size: 26px;
    color: #727272;
    transition: ease-in-out 0.3s;
  }

  .item-name {
    color: #fff;
    font-size: 14px;
  }

  .header-button {
    text-align: -webkit-center;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .back-button {
    margin-bottom: 30px;
  }
  .back-button p {
    display: none;
  }

  .back-button i {
    font-size: 32px;
  }

  .lineup-title {
    margin-top: 30px;
  }
  .error-image img {
    width: 60%;
  }
  .error-text h1 {
    color: #fff;
    text-transform: uppercase;
    font-family: Edo SZ;
    text-align: center;
    font-size: 72px;
    margin-top: -70px;
  }
}

@media screen and (max-width: 500px) {
  .text-games h1 {
    font-size: 22px;
  }
  .werewolves {
    position: absolute;
    max-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .werewolves.display-none {
    display: none;
    z-index: -999999999;
    position: absolute;
    max-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .error-image img {
    width: 100%;
  }
  .error-text h1 {
    color: #fff;
    text-transform: uppercase;
    font-family: Edo SZ;
    text-align: center;
    font-size: 56px;
    margin-top: -70px;
  }
}
